{% extends 'base.html.twig' %}

{% block title %}Hello SocieteController!{% endblock %}

{% block body %}
<h1>Sociétés et cultures</h1>
<hr>
<div class="liens">
    <div>
        <p class="culture_dz">La culture algérienne</p>
        <a href="/societedz/"><img src="img/touareg.jpg" alt="" class="touareg"></a>
    </div>
    <div>
        <p class="culture_jp">La culture japonaise</p>
        <a href="/societejp/"><img src="img/izakaya.jpg" alt="" class="izakaya"></a>
    </div>
</div>
{% endblock %}
