{% extends 'base.html.twig' %}

{% block title %}Hello TraditionamazighController!{% endblock %}

{% block body %}
<h1>Les traditions Amazigh</h1>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe minima quas omnis, sequi deleniti facere officiis adipisci molestias quo perspiciatis vero excepturi, repellendus dolores! Minus repudiandae id quisquam vero facilis.
Reprehenderit pariatur modi mollitia in assumenda. Laborum fuga libero totam qui officiis perferendis excepturi nemo pariatur, quidem architecto fugiat voluptate sed earum, error quod nihil distinctio beatae. Porro, ex voluptatem!
Cumque reprehenderit doloribus similique odio ad quas necessitatibus, pariatur vitae a cum alias blanditiis! Dicta eos autem laboriosam facere ipsa officia quod repellendus aspernatur facilis quia. Consequatur assumenda a eaque?
</p>
<h2 class="moz">Chez les Mozabites</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam explicabo in, doloribus, impedit delectus deserunt voluptatibus quaerat unde aut accusamus magni officiis assumenda eum cum incidunt nostrum, animi sed molestiae!
Aliquid molestiae, nisi vitae animi provident consectetur similique incidunt non. Cumque totam distinctio, vero nesciunt laudantium vitae odio eveniet, nisi a sed dicta? Earum dicta adipisci quos voluptas, facilis unde.
Id nihil iusto quia accusantium eum maiores, consequatur quos maxime mollitia modi aperiam minus. Ut sit laudantium libero vitae eum quos dolores, eius dignissimos ab, qui voluptas nihil velit sed.</p>
<div class="habits">
    <img src="img/monsieur.jpg" alt="" id="monsieur">
    <img src="img/souk.jpg" alt="" id="souk">
</div>
<p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ex praesentium nostrum cumque deleniti reprehenderit nam? Dolorum cupiditate consectetur, praesentium maiores ex ipsa! Nulla qui dignissimos, atque nemo maxime consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolores quaerat voluptatibus soluta ipsa commodi ex, minus possimus molestias, accusantium unde nisi harum minima quod deserunt natus eligendi sapiente dolor.
Accusantium cumque aliquam neque quibusdam quod placeat quaerat cum, ducimus, dicta facere est, fuga sunt tempora! Magnam sed commodi ipsa maxime dolore ratione, eum a eligendi culpa velit laudantium at.</p>
<div class="environnement">
    <img src="img/ahbess.jpg" alt="barrage" class="ahbess">
    <img src="img/ahbess_plein.jpg" alt="barrage_plein" class="ahbess_plein">
    <img src="img/alghabet.jpg" alt="palmeraie" class="alghabet">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sed rem iste atque perferendis magni? Libero voluptatum debitis ut amet id? Veritatis quisquam eum error nulla consectetur, accusamus nam ipsa!
Cumque nesciunt voluptates expedita harum, esse itaque explicabo omnis magnam praesentium dicta quos odit quas voluptatem illum impedit. Dolorem exercitationem nulla quam aliquam. Iusto voluptatibus enim dignissimos harum explicabo minima.
Nihil odit ab porro sequi iste dolor sapiente cupiditate ducimus ratione error. Numquam maxime totam, perspiciatis officia minus iste quibusdam similique praesentium voluptate qui fugiat laboriosam fugit deserunt ab quaerat!</p>
<div class="fete">
    <img src="img/tapis.jpg" alt="fete_du_tapis" class="tapis">
    <img src="img/taghiat.jpg" alt="danse_folklorique" class="taghiat">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quod molestiae, placeat perspiciatis adipisci nemo sapiente. Necessitatibus, voluptatem fuga. Quam iste beatae, ad nobis voluptates laborum saepe corrupti quos excepturi?
Nemo quaerat sit saepe dolor ratione quisquam voluptatem obcaecati iusto quas porro dolorem, dicta eveniet, aperiam at. Temporibus corrupti maxime alias. Quaerat laboriosam voluptates iure qui iusto libero totam ut.</p>
<h2 class="cha">Chez les Chaouis</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum recusandae veniam fuga alias qui aut illum, non commodi animi repellendus? Eligendi soluta rerum temporibus consectetur obcaecati pariatur saepe tempora quo.
Officia, nemo corporis doloribus a blanditiis sunt magnam animi eum voluptas asperiores! Incidunt, sunt sequi? Nesciunt quas unde sapiente natus possimus ex itaque ea quod, provident, iusto, asperiores repellat modi.
Explicabo non rem enim ratione numquam fuga quos harum sint sit eveniet. Ipsam fuga dolorem quasi quos. Beatae rerum itaque quis tempora dolorum perspiciatis, cum eum? Accusamus sed incidunt adipisci?</p>
<div class="habits_chaouis">
    <img src="img/burnous_chaoui.jpg" alt="burnous" class="burnous">
    <img src="img/melehfa_chaoui.jpg" alt="melehfa" class="melehfa">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem reiciendis excepturi fugiat voluptas et eos molestias neque fuga, adipisci accusantium impedit rem doloremque omnis, sed repellat quae ipsam cupiditate.
Unde porro nobis quidem! Dolorem totam, incidunt tempore et ratione quae aspernatur obcaecati quo? Numquam veniam dolores fugiat neque, facere quaerat laborum nihil cumque deserunt tempore cum dicta facilis tenetur!
Pariatur ducimus asperiores quam harum doloribus perferendis architecto molestias odit dicta reprehenderit reiciendis, libero quas eveniet aspernatur. Natus deserunt sint libero voluptatibus odit. Exercitationem ut itaque eos reprehenderit voluptatem inventore?</p>
<div class="aures">
    <img src="img/ghoufi.jpg" alt="" class="ghoufi">
    <img src="img/kheirane.jpg" alt="" class="kheirane">
    <img src="img/batna.jpg" alt="" class="batna">
</div>
<p id="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae adipisci quidem officia quas praesentium dignissimos explicabo ad suscipit doloribus autem necessitatibus reiciendis, pariatur iusto corporis architecto qui exercitationem dolorum!
Officiis voluptatem eveniet architecto magnam nihil impedit consequatur tenetur rerum pariatur sunt sapiente nam asperiores ipsa vel earum nostrum quisquam quo laborum aspernatur ea, eligendi nulla? Perspiciatis totam rerum obcaecati.
Neque quae quidem vel repellat ullam aliquam et at deleniti tempore molestiae? Accusamus illum enim alias incidunt ab velit autem repellendus nihil nobis voluptate, sequi praesentium facere, assumenda voluptates ex.</p>
<div class="fete">
    <img src="img/festival_timgad.jpg" alt="festival" class="festival">
    <img src="img/yennayer.jpg" alt="yennayer" class="yennayer">
</div>
<h2 class="kab">Chez les Kabyles</h2>
<hr>
<p id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate quam quos, molestias quaerat consequatur possimus. Aut dignissimos dolores nemo molestias animi natus ad hic incidunt nulla, quibusdam mollitia est earum.
Aspernatur rerum, magni iure necessitatibus voluptatibus quod repellat qui doloremque facere, magnam illum nostrum eaque sequi corporis quam inventore libero tempora soluta tempore officiis culpa. Sint soluta nulla sapiente inventore?
Nostrum obcaecati placeat nesciunt animi consequatur error. Consectetur provident enim dolorum ut consequuntur assumenda corporis illo harum, laudantium nulla illum fugit voluptatem pariatur omnis fugiat ullam accusamus dicta corrupti quisquam!</p>
<div class="habits_kabyles">
    <img src="img/avernous.jpg" alt="" class="avernous">
    <img src="img/robekabyle.jpg" alt="" class="robekabyle">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus unde itaque veniam quasi quia, voluptates ipsum placeat, esse, facere aut nostrum? Aspernatur, nemo expedita dolore maxime perferendis quae minus labore!
Eaque sequi molestiae voluptatum eveniet itaque labore deleniti sunt sed doloribus qui, nulla delectus? Harum cupiditate alias repellat unde accusantium? Eaque impedit quam commodi odit itaque autem adipisci rem suscipit!
Totam omnis eum molestias modi eveniet aut corporis cupiditate iste numquam quibusdam vero corrupti alias, maxime ducimus unde velit, tenetur laborum possimus quasi dolores quam voluptates minus. Suscipit, debitis quaerat.</p>
<div class="paysage_kabyle">
    <img src="img/djurdjura.jpg" alt="" class="djurdjura">
    <img src="img/agouni.jpg" alt="" class="agouni">
    <img src="img/olivier.jpg" alt="" class="olivier">
</div>
<p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti quaerat, quasi nemo excepturi asperiores eos debitis, laboriosam praesentium minima perspiciatis architecto officia cupiditate deserunt voluptas repellat aut vero qui esse!
Unde illo ex, sequi earum architecto necessitatibus vero alias rerum sint itaque? Cupiditate, fugiat! Eligendi ab magni perspiciatis maxime excepturi incidunt itaque laboriosam omnis commodi! Minus tenetur perferendis cupiditate quam!
Harum impedit accusantium facere molestiae odit quisquam quas blanditiis facilis, obcaecati iure eligendi maxime quam velit, excepturi aliquid itaque voluptatum ea nisi deserunt dolorem alias, ipsam aut saepe commodi. Eligendi.</p>
<div class="fete">
    <img src="img/bijou.jpg" alt="" class="bijou">
    <img src="img/poterie.jpg" alt="" class="poterie">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, aperiam corrupti! Accusamus dolorem, blanditiis fugiat molestiae tempora cumque necessitatibus delectus id alias officiis numquam pariatur quam deserunt itaque, debitis sit.
Voluptate necessitatibus, praesentium quidem quisquam, natus dolor laudantium nam earum ut, facilis quaerat eos explicabo amet esse fugiat adipisci? Reiciendis a necessitatibus nihil cum expedita quod quos voluptas tenetur aliquam!
Optio quaerat totam amet, ipsa consequuntur porro hic ipsum cupiditate assumenda ad beatae praesentium culpa reiciendis nemo impedit recusandae deserunt laborum odit, corporis, quasi iste voluptatibus. Alias quia tempore eveniet.</p>
{% endblock %}
