{% extends 'base.html.twig' %}

{% block title %}Hello DestinationsController!{% endblock %}

{% block body %}

<h1>Destinations</h1>
    <hr>
    <article class="pays1">
        <div>
            <p class="algerie">L'Algérie</p>
            <a href="/algerie/"><img src="img/jardindessai.jpg" alt="" class="jardin">
            </a> 
            
        </div>
        <div>
            <p class="maroc">Le Maroc</p>
           <a href="/maroc/"><img src="img/jamaaelfna.jpg" alt="" class="place">
            </a> 
            
        </div>
        
    </article>
    <article class="pays2">
        <div>
            <p class="senegal">Le Sénégal</p>
            <a href="/senegal/"><img src="img/ile_goree.jpg" alt="" class="goree">
            </a> 
        </div>
        <div>
            <p class="japon">Le Japon</p>
            <a href="/japon/"><img src="img/tokyotower.jpg" alt="" class="tokyotower">
            </a> 
        </div>
        
    </article>
    <article class="pays3">
        <div>
            <p class="korea">La Corée du Sud</p>
            <a href="/korea/"><img src="img/seoul.jpg" alt="" class="seoul">
            </a> 
            
                
            
        </div>
        <div>
            <p class="thailande">La Thaïlande</p>
            <a href="/thailande/"><img src="img/phuket.jpg" alt="" class="phuket">
            </a> 
        </div>
    </article>
{% endblock %}
