.mecontacter{
    text-align: center;
    font-family: 'DM Serif Display';
}
.gauche{
    background-color: #cc835a;
    height: 649px;
    width: 320px;
    color: white;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px;
    justify-content: space-around;
    border-radius: 12px;
}
.phone{
    display: flex ;
    margin-left: 20%;
}
.phone p{
   margin-left: 5%;
}
.icon{
    width: 30px;
    height: 30px;
    
}
#reseaux{
    text-align: center;
}
.politique{
    color: white;
    text-align: center;

}
.reseauxsociaux {
  display: flex;
  justify-content: space-around;  
  
}
.ensemble{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.droite{
    background-color: #e68260;
    width: 460px;
    height: 649px;
    box-shadow: 0 0 10px;
    border-radius: 12px;
}
#contact_nom, #contact_email{
    width: 421px;
    height: 50px;
    font-family: 'DM Sans';
    margin-left: 3%;
}
#contact_email{
    margin-top: 5%;
}
#contact_nom{
    margin-top: 10%;
}
#contact_message{
    width: 421px;
    height: 143px;
    margin-left: 3%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
textarea::placeholder{
    padding-left: 1%;
    
}
input{
    border-radius: 27px;
    box-shadow: 0 0 10px;

}
button.btn.btn-primary.mt-3 {
    background-color: #3e1905;
    color: white;
    font-family: 'DM Sans';
    border: #3e1905 1px;
    width: 197px;
    height: 55px;
    margin-top: 15%;
    border-radius: 31px;
    box-shadow: 0 0 10px;
    margin-left: 28%;
}
.formulaire{
    margin-top: 5%;
    text-align: center;
    color:  #3e1905;
    font-family: 'DM Serif Display';
}
.submit{
    display: flex;
    justify-content: center;
}
.texte_echo{
    text-align: center;
    font-family: 'DM Sans';
    font-size: 20px;
    /* margin-top: 2%; */
    top: 130%;
    position: absolute;
    left: 45.5%;
    color: green;
}