.fetejp{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.hinamatsuri, .hinamatsuri1, .lanterne, .kanji, .taiiku, .course{
    width: 40%;
    height: 423px;
    box-shadow: 0 0 10px;
}
@media screen and (max-width : 779px){
    .fetejp{
        display: flex;
        flex-direction: column;
       
    }
    
    .hinamatsuri, .hinamatsuri1, .lanterne, .kanji, .taiiku, .course{
        width: 80%;
        margin: 3% auto;
    }
}
@media screen and (max-width : 500px){
    .hinamatsuri, .hinamatsuri1, .lanterne, .kanji, .taiiku, .course{
        margin-top: 5%;
    }
    #description{
        text-align: center;
        margin-top: 5%;
    }
}