h1{
    text-align: center;
    margin-top: 3%;
}
.soustitre{
    margin-top: 3%;
    font-size: 20px;
    font-family: 'DM Sans';
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.test{
    margin-top: 5%;
    display: flex;
    justify-content: center;
   
}

.marrakech{

   box-shadow: 0 0 10px;
   height: 345px;
   width: 873px;
    
}
.texte1, .texte2{
    font-size: 20px;
    font-family: 'DM Sans';
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.montagne, .fes{
    width: 330px;
    height: 600px;
    box-shadow: 0 0 10px;
    margin-top: 8%;
}
.montagne{
    margin-left: 5%;
}
.fes{
    margin-right: 5%;
}
.bas{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.bas p{
    font-size: 20px;
    font-family: 'DM Sans';
    margin-left: 3%;
    margin-right: 3%;
    
}
#bas{
    text-align: center;
    font-size: 20px;
    font-family: 'DM Sans';
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}




.icone {
    display: flex;
    margin-top: 10%;
}
.icone a{
   margin-right: 2%;
}
@media screen and (max-width : 1244px){
    .bas p{
        
        margin-right: 2%;
    }
    
}
@media screen and (max-width : 1229px){
    

    .montagne, .fes{
        width: 250px;
        height: 500px;
    }
    .bas p{
        margin-left: 2%;
    }
    .montagne{
        margin-left: 3%;
    }
    .fes{
        margin-right: 3%;
    }
}
@media screen and (max-width : 992px){
    
    .marrakech {
        width: 500px;
    }
    .texte1, .texte2{
        margin-left: 3%;
        margin-right: 3%;
    }
    .bas{
        display: flex;
        flex-direction: column;
    }
    .bas p{
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .montagne, .fes{
        width: 398px;
        margin: auto;
    }
    .fes{
        margin-top: 3%;
    }
}
@media screen and(max-width : 681px){
    img .marrakech {
        width: 500px;
    }
}


@media screen and (max-width : 500px){
    
    .marrakech{
        width: 400px;
    }
    
}


