{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!{% endblock %}

{% block body %}
<h1>FAQ</h1>
<hr>
<p class="faq">
<span class="question">Q : Comment pouvez-vous vous permettre de voyager autant ?</span> <br>
<span class="reponse">R : Nous avons économisé pendant plusieurs années avant de commencer à voyager. Nous sommes également toujours à la recherche de bons plans et d'offres spéciales pour économiser de l'argent sur les vols, les hébergements et les activités.</span> 
<br><br>
<span class="question">Q : Comment choisissez-vous vos destinations de voyage ?</span> <br>
<span class="reponse">R : Nous aimons explorer de nouveaux endroits et découvrir de nouvelles cultures. Nous choisissons nos destinations en fonction de nos intérêts et de notre budget.</span> 
<br><br>
<span class="question">Q : Comment organisez-vous vos voyages ?</span> <br>
<span class="reponse">R : Nous planifions généralement nos voyages plusieurs mois à l'avance, en réservant les vols, l'hébergement et les activités à l'avance. Nous aimons également utiliser des guides de voyage pour nous aider à planifier notre itinéraire et trouver des choses à faire dans chaque destination.</span> 
<br><br>
<span class="question">Q : Comment trouvez-vous des bons plans pour voyager ?</span> <br>
<span class="reponse">R : Nous suivons des sites web spécialisés dans les offres de voyages, nous nous inscrivons à des newsletters de compagnies aériennes et d'agences de voyage, et nous recherchons également des codes de réduction et des promotions en ligne.</span> 
<br><br>
<span class="question">Q : Comment gérez-vous votre budget en voyage ?</span> <br>
<span class="reponse">R : Nous avons un budget défini pour chaque voyage et nous essayons de le respecter autant que possible. Nous sommes également prudents avec nos dépenses, en évitant les restaurants chers et en privilégiant les hébergements économiques.</span> 
<br><br>
<span class="question">Q : Comment vous assurez-vous de voyager de manière responsable ?</span> <br>
<span class="reponse">R : Nous sommes conscients de notre impact sur l'environnement et nous essayons de voyager de manière responsable en choisissant des modes de transport écologiques et en soutenant les entreprises locales. Nous respectons également les coutumes et les traditions locales.</span>
<br><br>
<span class="question">Q : Avez-vous des conseils pour les voyageurs débutants ?</span> <br>
<span class="reponse">R : Commencez par des destinations plus proches de chez vous pour vous familiariser avec les voyages. Établissez un budget et respectez-le. Ne prévoyez pas un emploi du temps trop chargé pour éviter la fatigue. Soyez ouvert aux nouvelles expériences et faites de votre mieux pour vous adapter à de nouvelles cultures.</span> </p>
{% endblock %}
