{% extends 'base.html.twig' %}

{% block title %}Hello ThailandeController!{% endblock %}

{% block body %}
<h1>La Thaïlande 🇹🇭</h1>
<hr>
<p id="haut">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quis, corporis quos id, quaerat unde officia vel voluptas libero ipsum perspiciatis velit rem sed nisi nostrum ab quia necessitatibus quibusdam.</p>
<div class="bangkok">
    <img src="img/bangkok.jpg" alt="" id="bangkok">
</div>
<p id="soustexte">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, incidunt fugit deserunt nihil corrupti odio assumenda dolore cupiditate molestiae quas ipsam quidem porro. Beatae dolorem voluptate quia quasi rem doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestias ipsa officia a facilis soluta voluptatem dolorem ipsam? Sed provident ab eveniet placeat reiciendis illum optio cum ipsum esse accusantium.
Deleniti doloribus numquam eum. Omnis ipsa distinctio ut quis, aspernatur perferendis velit tenetur? Excepturi corporis ipsam rem commodi explicabo, voluptates consequuntur repudiandae totam? Molestiae animi impedit architecto nihil voluptates tempora.</p>
<div class="phiphi">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quam fuga accusantium. Numquam eum, modi repudiandae, perferendis id nulla et repellendus soluta porro blanditiis labore obcaecati, doloremque hic! Perferendis, vitae!
    Officia vel voluptatem repellat dolor ut repudiandae delectus nostrum. Cumque quidem non reiciendis? Ratione, recusandae. Ipsa impedit illo sunt, qui pariatur ratione eaque itaque deleniti sequi, ex repellendus sit dicta!
    Minima excepturi ea neque voluptates ratione quaerat tempore alias. Nesciunt magnam vero maiores vel nisi sed minus praesentium expedita quod? Iusto, maxime doloribus. Accusamus, autem? Pariatur commodi facere perferendis doloremque!
    Perferendis earum, laudantium unde quas, minima sequi vel quis asperiores eligendi vitae doloribus corporis autem quam ut explicabo dolorum fuga. Asperiores, quasi? Voluptatibus, perferendis culpa nostrum vel repudiandae corporis cupiditate.
    Aliquid expedita laboriosam reiciendis corrupti! Doloremque minima vero, qui expedita sed optio quod debitis laudantium modi fugit porro sint nam delectus accusamus, cupiditate hic iure nobis? Placeat odit voluptatibus omnis!</p>
    <img src="img/phi_phi.jpg" alt="iles" id="phi_phi">
    
</div>
<p id="milieu">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quaerat recusandae reprehenderit amet similique quidem voluptates vitae. Doloremque, eveniet perspiciatis! Suscipit velit porro nisi quo iste perferendis assumenda qui consequuntur.
Maxime accusantium libero deserunt animi labore, eveniet fuga odio, debitis similique eligendi voluptatibus consequuntur recusandae veritatis vel velit consequatur incidunt. Excepturi sed vero impedit eum tempora molestias, aliquam totam amet. Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ad nemo accusamus repudiandae, in quasi modi magnam quisquam molestias, nisi provident harum doloremque dolores? Ipsum, eos tenetur. Placeat, architecto sit!</p>
<div class="phranang">
    <img src="img/phra_nang.jpg" alt="ile" id="phranang">
    <p id="#texte">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consequatur amet deleniti suscipit pariatur voluptatem? Ut excepturi quam recusandae, porro iure rerum ducimus, quia pariatur debitis repudiandae aperiam, voluptate id.
    Dolores a architecto expedita vel quidem ullam similique laudantium porro, voluptate debitis. Aliquid in sint qui laboriosam doloremque? Illum eius rerum tempore iusto adipisci consequatur error eos consequuntur beatae velit?
    Porro eveniet beatae reiciendis rem est sapiente alias natus optio deserunt! Maiores explicabo, aperiam placeat animi ea obcaecati ab, tenetur ipsam voluptatibus eligendi, odio repudiandae. Autem dolor minima ipsa veniam?
    Laboriosam sint deleniti nulla quis distinctio, deserunt reiciendis. Porro autem, expedita, culpa atque quam officia modi, sequi in accusamus incidunt earum quo voluptatum est nobis laborum quos. Sed, ex neque?
    Expedita officia delectus earum deserunt cum vitae nulla quod quibusdam, quasi enim iure voluptate ratione rem voluptas id velit autem! Neque praesentium quibusdam aliquid eligendi et repellat nam totam voluptatibus.</p>
</div>
{% endblock %}
