{% extends 'base.html.twig' %}

{% block title %}Hello ThailandeController!{% endblock %}

{% block body %}
<h1>La Thaïlande 🇹🇭</h1>
<hr>
<p id="haut">La Thaïlande, située dans le sud-est de l'Asie, est une destination de voyage populaire pour les voyageurs du monde entier. Le pays est connu pour sa culture riche et diversifiée, sa cuisine délicieuse, ses plages de sable blanc, ses temples majestueux et sa vie nocturne animée. Avec une histoire qui remonte à plus de mille ans, la Thaïlande a une forte tradition bouddhiste et offre de nombreuses opportunités de découvrir la culture locale à travers des festivals, des cérémonies et des visites de temples. Que tu sois à la recherche d'une escapade de détente sur une plage isolée, d'une aventure dans la jungle ou d'une exploration de la vie urbaine animée, la Thaïlande va t'offrir une expérience de voyage unique et inoubliable.</p>
<div class="bangkok">
    <img src="img/bangkok.jpg" alt="" id="bangkok">
</div>
<p id="soustexte">Bangkok, la capitale de la Thaïlande, est une ville animée et passionnante qui mérite une visite pour ceux qui cherchent à découvrir la culture, l'histoire et la cuisine thaïlandaises. Voici un aperçu de ce que tu peux attendre de Bangkok lors de ton prochain voyage. <br>
Bangkok abrite des centaines de temples bouddhistes, chacun offrant une expérience unique et fascinante. Le plus célèbre d'entre eux est le Wat Phra Kaew, qui abrite le Bouddha d'émeraude, une statue en jade très vénérée. Le Wat Pho, également connu sous le nom de Temple du Bouddha Couché, est un autre temple célèbre qui abrite une immense statue de Bouddha couché de 46 mètres de long. <br>
Bangkok est aussi célèbre pour ses marchés flottants, où les commerçants vendent leurs produits depuis des bateaux le long des canaux de la ville. Le marché flottant de Damnoen Saduak est l'un des plus célèbres, où tu pourra découvrir une variété de produits locaux, des fruits et légumes frais, des épices, des tissus, des vêtements et des souvenirs. <br>
Bangkok est réputée pour sa cuisine délicieuse et épicée. Tu pourra goûter une variété de plats locaux dans les nombreux restaurants de la ville, des plats de rue aux restaurants de haute gastronomie. Les plats les plus populaires incluent le pad thaï, le curry vert et la soupe tom yum.

</p>
<div class="phiphi">
    <p>Phi Phi est un archipel de six îles situé dans la mer d'Andaman, au large de la côte sud-ouest de la Thaïlande. Les deux îles principales sont Koh Phi Phi Don et Koh Phi Phi Leh. Koh Phi Phi Don est la plus grande et la plus développée des deux îles, avec des hôtels, des restaurants et des boutiques, tandis que Koh Phi Phi Leh est une île plus petite et plus sauvage, célèbre pour sa baie de Maya, un lieu de tournage pour le film "La Plage" avec Leonardo DiCaprio. <br>
    Phi Phi est connu pour ses plages de sable blanc et ses eaux cristallines, ce qui en fait un endroit idéal pour la baignade, la plongée en apnée et la plongée sous-marine. Certaines des plages les plus populaires incluent la plage de Long Beach, la plage de Laem Tong et la plage de Monkey Beach, où vous pourrez voir des macaques joueurs. <br>
    Outre la beauté naturelle de Phi Phi, il existe également plusieurs sites historiques et culturels à explorer, tels que les villages de pêcheurs traditionnels sur l'île de Koh Phi Phi Don et les grottes et les temples bouddhistes de Koh Phi Phi Leh. <br>
    </p>
    <img src="img/phi_phi.jpg" alt="iles" id="phi_phi">
    
</div>
<p id="milieu">Après avoir exploré l'archipel magnifique de Phi Phi avec ses plages de sable blanc et ses eaux cristallines, une autre destination de plage incontournable en Thaïlande est Phra Nang. Située sur la côte ouest de la Thaïlande, sur la péninsule de Railay, Phra Nang est une plage de sable blanc bordée de falaises calcaires imposantes. La plage est accessible uniquement par bateau, ce qui en fait un endroit paisible et tranquille pour se détendre et profiter de la beauté naturelle de la Thaïlande.</p>
<div class="phranang">
    <img src="img/phra_nang.jpg" alt="ile" id="phranang">
    <p id="#texte">Phra Nang, située sur la côte de Krabi en Thaïlande, est une plage de sable blanc bordée de falaises de calcaire spectaculaires et de formations rocheuses étranges. Cette plage est considérée comme l'une des plus belles du monde et attire des milliers de visiteurs chaque année. <br>
    La plage de Phra Nang est un véritable joyau de la côte thaïlandaise avec son sable blanc et son eau cristalline. Tu pourra te détendre sur la plage, bronzer, nager ou faire de la plongée avec tuba dans les eaux calmes et peu profondes. <br>
    Les falaises de calcaire qui entourent la plage de Phra Nang sont impressionnantes et uniques. Elles offrent également une toile de fond incroyable pour les photographes, surtout au coucher du soleil. Si tu sens que tu es un aventurier dans l'âme tu peux essayer d'escalader les falaises pour avoir une vue spectaculaire sur la mer d'Andaman. <br>
    La grotte de la princesse est un sanctuaire dédié à une déesse hindoue vénérée par les pêcheurs locaux. Tu y verra des statues de la déesse et des offrandes déposées par les locaux pour obtenir sa protection en mer.</p>
</div>
<p class="milieu">En conclusion, la Thaïlande est une destination incontournable pour les voyageurs en quête de découverte, de culture et de détente. Ce pays enchanteur offre une myriade d'expériences uniques, allant des temples historiques et des marchés animés aux magnifiques plages bordées de palmiers et aux îles paradisiaques. J'espère que ce petit article sur la Thaïlande t'as plu. Cétait le dernier pays de la page destinations. Si tu n'as pas vu les autres je t'invite à aller les lire et si tu l'as fait, rendez-vous dans le dossier "société et cultures". 👋 </p>
{% endblock %}
