{% extends 'base.html.twig' %}

{% block title %}Hello SocietedzController!{% endblock %}

{% block body %}
<div class="tout">
    <div>
        <a href="/traditionamazigh/"><img src="img/amazigh.jpg" alt="" class="amazigh"></a>
        <p class="traditions">Les traditions Amazigh</p>
        
        
    </div>
    <div>
        <a href="/mdvsahara/"><img src="img/sahara.jpg" alt="" class="sahara"></a>
        <p id="mdv">Le mode de vie du Sahara</p>
        
    </div>
    <div>
        <a href="/fetedz/"><img src="img/gateau.jpg" alt="" class="gateau"></a>
        <p id="fetes">Les fêtes en Algérie</p>
        
        
    </div>
</div>
{% endblock %}
