{% extends 'base.html.twig' %}

{% block title %}Hello OmiyageController!{% endblock %}

{% block body %}
<h1>L'Omiage (お土産)</h1>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione aliquam soluta, porro totam placeat numquam harum officia, fugiat optio maiores suscipit neque eaque voluptates ducimus accusamus deleniti! Libero, vel repellendus!
Neque atque facilis sequi veritatis ullam quibusdam nobis itaque esse corporis, totam rerum? Soluta explicabo nam dignissimos blanditiis? Modi vel laborum beatae nobis ratione rem quas saepe, eum maxime ex.
Omnis perferendis possimus aliquam voluptatem quas? Eaque ullam ex consectetur labore ad eius deserunt culpa, asperiores dolorem repellendus. Fugiat ipsa, expedita blanditiis quae repellat magni magnam praesentium facilis vitae debitis.</p>
<div class="cadeaux">
    <img src="img/boites.jpg" alt="" class="boites">
    <img src="img/omiyage_ya.jpg" alt="" class="omiyage_ya">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo soluta voluptatum et amet id veniam aliquam ea, sint labore aperiam praesentium odit velit nemo dignissimos magnam laboriosam similique. Ex, minus.
Odit reprehenderit consequatur non illo distinctio suscipit odio quaerat cumque inventore! Molestias quis, exercitationem temporibus alias aut ullam, ipsam deleniti ab asperiores beatae, numquam quasi consequuntur. Hic enim maiores itaque!
Accusantium eaque magni placeat consequatur ullam aliquam odit possimus repudiandae, aspernatur tempore velit ratione, inventore laudantium suscipit cupiditate sapiente ipsam? Facilis eius voluptas ipsa earum, pariatur exercitationem omnis minus quis!</p>
{% endblock %}
