{% extends 'base.html.twig' %}

{% block title %}Hello OmiyageController!{% endblock %}

{% block body %}
<h1>L'Omiage (お土産)</h1>
<hr>
<p id="description">Les omiyage sont des cadeaux souvenirs que les voyageurs japonais offrent à leur famille, amis et collègues de travail après un voyage. Les omiyage peuvent être des produits locaux typiques de la région visitée, tels que des bonbons, des biscuits, du thé ou des porte-clés, et sont souvent présentés dans un emballage attrayant. <br>
Au Japon, l'échange de cadeaux est une tradition importante et les omiyage sont considérés comme une forme de gratitude pour les personnes qui ont aidé ou soutenu le voyageur. Les omiyage sont également couramment offerts lors de mariages, de funérailles et d'autres événements importants. <br>
Les omiyage sont également populaires auprès des touristes visitant le Japon, car ils offrent une occasion de ramener chez eux un souvenir unique et de partager leur expérience de voyage avec leur famille et leurs amis.</p>
<div class="cadeaux">
    <img src="img/boites.jpg" alt="" class="boites">
    <img src="img/omiyage_ya.jpg" alt="" class="omiyage_ya">
</div>
<p id="description">Au Japon, il existe de nombreuses boutiques spécialisées dans les omiyage, appelées "omiyage-ya". Ces boutiques sont souvent situées dans les gares et les aéroports, ainsi que dans les zones touristiques populaires. <br>
Les omiyage-ya proposent une large gamme de produits locaux, tels que des bonbons, des gâteaux, des fruits séchés, des boissons, des produits artisanaux et des souvenirs en tous genres. Les emballages des omiyage sont souvent très élaborés et attrayants, avec des designs colorés et des motifs traditionnels japonais. <br>
Les vendeurs des boutiques d'omiyage sont souvent très compétents et peuvent fournir des informations sur les produits proposés, ainsi que sur les différentes régions du Japon et leur culture. Les omiyage-ya sont également connues pour offrir des dégustations gratuites de leurs produits, ce qui permet aux clients de goûter avant d'acheter. <br>
Les boutiques d'omiyage sont une partie importante de la culture japonaise, car elles permettent aux voyageurs de partager leur expérience de voyage avec leurs proches et de soutenir les entreprises locales. En outre, les omiyage-ya sont souvent très populaires auprès des touristes étrangers qui cherchent des souvenirs uniques et authentiques du Japon.</p>
{% endblock %}
