{% extends 'base.html.twig' %}

{% block title %}Hello MdvsaharaController!{% endblock %}

{% block body %}
<h1>Le mode de vie du Sahara</h1>
<hr>
<p id="description">Le mode de vie des habitants du Sahara algérien est centré sur la survie dans un environnement hostile et la préservation de leurs traditions et de leur culture. Les Touaregs, par exemple, sont des éleveurs de chameaux et de moutons, et ils se déplacent régulièrement pour trouver des pâturages et de l'eau pour leurs animaux. <br>
Les maisons traditionnelles des Touaregs sont des tentes en toile de chèvre et de chameau, appelées des "khaimas". Ces tentes sont faciles à démonter et à déplacer, ce qui permet aux nomades de suivre les troupeaux et de trouver de nouvelles sources de nourriture et d'eau.</p>
<div class="desert">
    <img src="img/chameau2.jpg" alt="" class="chameau">
    <img src="img/cheche.jpg" alt="" class="cheche">
</div>
<p id="description">La nourriture dans le Sahara algérien est simple et nutritive, avec une forte préférence pour la viande de chameau, de mouton et de chèvre. Les légumes et les fruits sont rares dans cette région aride, et sont généralement importés de l'extérieur. <br>
La vie sociale des Touaregs est également basée sur la tradition et la famille. Les mariages sont arrangés par les familles et les enfants sont souvent éduqués à la maison plutôt que dans des écoles. Les fêtes et les cérémonies sont souvent l'occasion pour les communautés nomades de se rassembler et de célébrer leur culture et leurs traditions.</p>
{% endblock %}
