{% extends 'base.html.twig' %}

{% block title %}Hello MdvsaharaController!{% endblock %}

{% block body %}
<h1>Le mode de vie du Sahara</h1>
<hr>
<p id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci dolorum eveniet reprehenderit deserunt, praesentium architecto assumenda earum perspiciatis suscipit et omnis qui ad odit modi provident possimus nulla? Perferendis, nobis.
Explicabo, eligendi fuga delectus molestias molestiae tenetur earum veritatis vero facilis nobis et, quam in praesentium odit? Enim, aperiam. Nisi hic atque ex fuga illum labore, adipisci ratione natus soluta.
Qui nihil consectetur cupiditate incidunt animi vel neque dolor, autem totam quasi nesciunt, hic voluptate aperiam quia culpa aliquid? Voluptates est harum ipsum velit esse debitis et natus obcaecati quae.</p>
<div class="desert">
    <img src="img/chameau2.jpg" alt="" class="chameau">
    <img src="img/cheche.jpg" alt="" class="cheche">
</div>
<p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis asperiores ex! Itaque asperiores placeat numquam accusamus ipsum, dolorum ad sit laborum. Delectus perferendis quidem laboriosam numquam quisquam itaque hic?
Impedit dolores commodi sint cum sit provident, mollitia delectus. Obcaecati eligendi non hic delectus corporis dignissimos, rem molestias. Doloremque esse, eaque aut nobis debitis a quaerat nesciunt perferendis explicabo aliquid?
Sint exercitationem commodi repellat quibusdam numquam mollitia laborum id perferendis nulla quis unde omnis dolorum consequatur, iste repudiandae deleniti autem. Odio doloribus hic eveniet officia quasi ut repudiandae dolorum fugiat.</p>
{% endblock %}
