{% extends 'base.html.twig' %}

{% block title %}Hello UtilisationController!{% endblock %}

{% block body %}
<h1>Conditions d'utilisations</h1>
<hr>
<p class="utilisation">
    
En utilisant ce blog de voyage, vous acceptez les termes et conditions suivants :
<br><br>
Contenu du blog : <br>
Le contenu de ce blog est fourni à titre informatif seulement. Nous ne sommes pas responsables de l'exactitude, de l'exhaustivité ou de la fiabilité du contenu.
<br><br>
Utilisation des informations : <br>
L'utilisation des informations fournies sur ce blog est à vos propres risques. Nous ne serons pas responsables de tout dommage ou préjudice résultant de l'utilisation de ces informations.
<br><br>
Propriété intellectuelle : <br>
Le contenu de ce blog est la propriété de ses auteurs respectifs et est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer, modifier ou utiliser le contenu de ce blog à des fins commerciales sans notre autorisation écrite.
<br><br>
Liens externes : <br>
Ce blog peut contenir des liens vers d'autres sites Web. Nous ne sommes pas responsables du contenu ou de la disponibilité de ces sites Web. Nous ne cautionnons pas le contenu de ces sites Web et ne sommes pas responsables des dommages ou préjudices résultant de leur utilisation.
<br><br>
Limitation de responsabilité : <br>
Dans la mesure maximale permise par la loi, nous ne serons pas responsables de tout dommage ou préjudice résultant de l'utilisation de ce blog ou de l'incapacité à utiliser ce blog.
<br><br>
Modifications des conditions d'utilisation : <br>
Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet immédiatement après leur publication sur ce blog.
<br><br>
En utilisant ce blog, vous acceptez ces conditions d'utilisation. Si vous n'êtes pas d'accord avec ces conditions d'utilisation, veuillez ne pas utiliser ce blog.</p>
{% endblock %}
