{% extends 'base.html.twig' %}

{% block title %}Hello SocietejpController!{% endblock %}

{% block body %}
<div class="all">
    <div>
        <a href="/omiyage/"><img src="img/kokeshi.jpg" alt="" class="kokeshi"></a>
        <p id="omiyage">L'Omiyage</p>
        
    </div>
    <div><a href="/omotenashi/"><img src="img/ryokan.jpg" alt="" class="ryokan"></a>

        <p id="omotenashi">L'Omotenashi</p>
        
    </div>
    <div>
        <a href="/fetejp/"><img src="img/matsuri.jpg" alt="" class="matsuri"></a>

        <p id="fetes">Les fêtes au Japon</p>
        
    </div>
</div>
{% endblock %}
