{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueController!{% endblock %}

{% block body %}
<h1>Politique de confidentialité</h1>
<hr>
<p class="confidentialite">Nous attachons une grande importance à la protection de la vie privée de nos utilisateurs. Cette politique de confidentialité décrit les types de données que nous collectons, comment nous les utilisons et les protégeons.
<br><br>
Données collectées : <br>
Nous collectons des données personnelles des utilisateurs dans le cadre de l'utilisation du blog. Ces données peuvent inclure le nom, l'adresse e-mail, l'adresse IP, le navigateur et l'appareil utilisé pour accéder au site, les pages visitées, les actions effectuées sur le site et les préférences de l'utilisateur.
Nous collectons également des données sur l'utilisation du blog à l'aide de cookies et de technologies similaires.
<br><br>
Utilisation des données : <br>
Nous utilisons les données collectées pour améliorer l'expérience utilisateur, personnaliser le contenu et les publicités, analyser les tendances et les préférences des utilisateurs, et fournir des informations sur nos produits et services.
<br><br>
Nous ne vendons pas les données personnelles des utilisateurs à des tiers. Nous pouvons partager des données avec des prestataires de services tiers qui travaillent avec nous pour fournir des services tels que l'hébergement, la maintenance et l'analyse de données.
<br><br>
Nous pouvons également divulguer des données personnelles si nous sommes tenus de le faire par la loi ou si nous croyons que cela est nécessaire pour protéger nos droits ou les droits de nos utilisateurs.
<br><br>
Protection des données : <br>
Nous avons mis en place des mesures de sécurité pour protéger les données personnelles des utilisateurs contre les accès non autorisés, la divulgation ou la destruction.
<br><br>
Les données personnelles sont stockées sur des serveurs sécurisés et ne sont accessibles que par des personnes autorisées.
<br><br>
Droits des utilisateurs : <br>
Les utilisateurs ont le droit d'accéder, de modifier ou de supprimer leurs données personnelles en contactant l'éditeur du site. Les utilisateurs peuvent également demander la suppression de leur compte.

Mise à jour de la politique de confidentialité : <br>
Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les utilisateurs seront informés des changements apportés à la politique de confidentialité</p>
{% endblock %}
