{% extends 'base.html.twig' %}

{% block title %}Hello FetedzController!{% endblock %}

{% block body %}
<h1>Les fêtes en Algérie</h1>
<hr>
<p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempore fuga asperiores provident eligendi expedita! Hic earum tenetur ipsum molestias magni nostrum quo esse, explicabo, ad fugit enim doloribus consectetur.
Consequuntur ratione et doloremque quas, impedit placeat numquam, voluptates incidunt blanditiis tenetur adipisci. Maxime porro voluptatum error totam laborum, et pariatur magnam rerum. Labore, nostrum eaque. Libero autem voluptatibus nemo.
Fuga mollitia repellat amet cupiditate laudantium ut! Provident porro laboriosam expedita veritatis quaerat soluta, quae quidem deserunt fugiat maiores rerum consequuntur blanditiis facere? Sapiente at blanditiis dicta distinctio animi maxime?</p>
<h2 id="nomfete">Fête de l'indépendance (5 juillet)</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quisquam placeat consectetur nam a natus consequuntur illum ratione accusamus, provident, dolores inventore! Nihil, nobis velit! Nam cum obcaecati placeat velit!
Dolores architecto aperiam labore quasi, quod nihil? Nostrum dolores laudantium minus. Itaque soluta, tenetur saepe sed in repudiandae, laborum, quidem quaerat reprehenderit quod nihil delectus facere suscipit alias beatae voluptatem.
Dolorem placeat nobis repudiandae at. Provident laudantium nam rem ipsam cupiditate enim eligendi totam maxime dolor id quas velit distinctio, dignissimos eaque quis quos qui ea reprehenderit non. Consequuntur, delectus.</p>
<div class="fetedz">
    <img src="img/logo_indp.png" alt="" class="logo_indp">
    <img src="img/independance.jpg" alt="" class="independance">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at repudiandae voluptas, voluptates ea vitae incidunt omnis ipsum. Ad, dicta. Assumenda minima debitis quam reprehenderit commodi veniam eum asperiores modi?
Amet commodi repellat aut mollitia earum, impedit nostrum. Repellat, molestiae omnis enim officiis eos error cumque amet quasi mollitia nisi accusamus voluptatem fuga nam necessitatibus veritatis a vel quod. Porro?
Eveniet, cumque officiis. Odio inventore laudantium architecto quam necessitatibus! A consequatur commodi molestiae hic, provident numquam adipisci sint maiores veritatis cupiditate! Aliquam, reprehenderit itaque velit laudantium neque sequi esse cumque!</p>
<h2 id ="nomfete">Mawlid ( 10 Rabii Al Awal)</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repudiandae eaque sapiente maxime itaque earum possimus minus quaerat illo ratione dolorum, ipsum placeat saepe dolorem rem officiis numquam. Labore, incidunt.
Voluptatum quae porro, provident ipsum veritatis sapiente dolor labore magni impedit molestiae? Dolorum consequuntur, sunt facilis, voluptatum ullam aliquam unde aut quo voluptas earum et eligendi ab quidem voluptatibus minus!
Consequatur id deserunt fugit. Minus, doloribus. Tempora nisi porro hic minus, corporis aliquam? Accusantium minima modi esse nulla. Laudantium veniam ipsa similique magnam, soluta molestias iusto mollitia eveniet dolorum sit.</p>
<div class="fetedz">
    <img src="img/tamina.jpg" alt="" class="tamina">
    <img src="img/nir.webp" alt="" class="nir">
    <img src="img/freepik.jpg" alt="" class="freepik">
</div>

<!-- <p id="lien">Image de <a href="https://fr.freepik.com/vecteurs-libre/fond-plat-mawlid-al-nabi_31282907.htm#page=3&query=mawlid&position=15&from_view=search&track=sph">Freepik</a></p> -->
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis enim, cupiditate at reiciendis culpa nesciunt id aliquam, tempore soluta, adipisci a recusandae et nisi. Recusandae esse aliquam nam quae suscipit!
Voluptatibus commodi, blanditiis nobis voluptas itaque nulla quidem eligendi odio deleniti repudiandae alias! Omnis facere esse consectetur enim consequatur velit tempore nemo saepe iusto odit sit, alias ipsum, atque molestias!
Fuga earum ex impedit praesentium alias non omnis, labore corporis vel commodi accusamus sint facere doloribus reprehenderit provident similique? Cum dolor est obcaecati, fugiat blanditiis et harum error ducimus ipsam.</p>
<h2 id="nomfete">Yennayer (12 Janvier)</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae tenetur accusamus placeat pariatur molestiae sed. Dolores hic recusandae eos, vitae asperiores ab optio maiores, officia expedita pariatur, libero rem sunt!
Ea velit repellat ducimus cumque exercitationem illum assumenda magni unde aperiam incidunt fugit tempore esse nulla sapiente aut, soluta dolor possimus vel ipsa sequi rem. Sunt distinctio sint beatae? Ducimus!
Voluptatum dolorum rem molestiae ab. Dolor quos quod tenetur repellendus aperiam perspiciatis officia, excepturi autem modi rem. Ut, at excepturi quod quae hic ab recusandae, eos nam saepe illo perferendis!</p>
<div class="fetedz">
    <img src="img/yennayer1.jpg" alt="" class="yennayer1">
    <img src="img/yennayer2.jpg" alt="" class="yennayer2">
</div>
<p id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores tempore, molestiae necessitatibus porro magnam in esse vel nobis quod commodi velit error adipisci accusamus alias pariatur eos non culpa quidem!
Illum dicta, eum incidunt, rem a libero vitae doloribus nostrum perferendis atque sit tenetur ex dolore hic architecto optio nemo amet molestiae mollitia sed nam. Quos odio eveniet sit cumque.
Fugit neque autem tempore quos doloribus deleniti minus, adipisci ducimus amet optio atque, earum perspiciatis saepe obcaecati cupiditate quidem fugiat ipsa aliquid voluptatibus. A laboriosam autem, ex ab iste odit!</p>
{% endblock %}
