{% extends 'base.html.twig' %}

{% block title %}Hello FetedzController!{% endblock %}

{% block body %}
<h1>Les fêtes en Algérie</h1>
<hr>
<p id="description">Les fêtes en Algérie occupent une place importante dans la vie sociale et culturelle du pays. Ces célébrations sont souvent l'occasion pour les familles et les communautés de se rassembler et de célébrer leur culture et leur religion. <br>
Les mariages sont également l'occasion de grandes célébrations en Algérie, avec des festivités qui durent souvent plusieurs jours. Les familles des mariés organisent des repas somptueux, de la musique et de la danse, ainsi que des cadeaux pour les mariés</p>
<h2 id="nomfete">Fête de l'indépendance (5 juillet)</h2>
<hr>
<p id="description">La fête de l'Indépendance est l'une des plus importantes fêtes nationales en Algérie, célébrée chaque année le 5 juillet. Cette fête commémore la déclaration de l'indépendance de l'Algérie vis-à-vis de la France en 1962, après plus de sept ans de guerre de libération. <br>
La journée de la fête de l'Indépendance commence souvent par des célébrations officielles, notamment des discours prononcés par des représentants du gouvernement. Des défilés militaires ont également lieu dans les grandes villes, où des unités militaires défilent devant les dignitaires et le public.</p>
<div class="fetedz">
    <img src="img/logo_indp.png" alt="" class="logo_indp">
    <img src="img/independance.jpg" alt="" class="independance">
</div>
<p id="description">Ensuite, la fête continue avec des manifestations populaires dans tout le pays, où les gens se rassemblent pour célébrer leur indépendance et leur patriotisme. Les rues sont souvent décorées de drapeaux algériens, de banderoles et de bannières pour l'occasion. Les festivités peuvent inclure des concerts, des spectacles de danse, des feux d'artifice et des compétitions sportives. <br>
La fête de l'Indépendance est également l'occasion de rappeler la lutte pour l'indépendance de l'Algérie, qui a été marquée par de nombreux sacrifices. Les Algériens célèbrent souvent cette journée en rendant hommage aux martyrs de la guerre de libération et aux héros nationaux qui ont contribué à l'indépendance du pays.</p>
<h2 id ="nomfete">Mawlid ( 10 Rabii Al Awal)</h2>
<hr>
<p id="description">Le Mawlid est une fête religieuse importante célébrée par les musulmans du monde entier pour commémorer la naissance du prophète Mohammed. En Algérie, cette fête est également largement célébrée par la communauté musulmane. <br>
La célébration du Mawlid en Algérie varie selon les régions et les traditions locales. Cependant, dans la plupart des villes, les festivités commencent avec des prières spéciales à la mosquée, suivies de discours et de chants en l'honneur du prophète. Les gens décorent souvent leurs maisons et les rues avec des lumières, des bannières et des décorations festives.</p>
<div class="fetedz">
    <img src="img/tamina.jpg" alt="" class="tamina">
    <img src="img/nir.webp" alt="" class="nir">
    <img src="img/freepik.jpg" alt="" class="freepik">
</div>

<p id="description">
Lors de cette fête, les Algériens préparent des repas traditionnels et partagent des plats avec leur famille, leurs amis et leurs voisins. Il est également courant de distribuer des sucreries et des cadeaux aux enfants. Tu peux notamment voir sur la première image l'un des nombreux plats cuisinés lors du mawlid : la Tamina. <br>
La Tamina est un dessert traditionnel algérien à base de semoule, de sucre, de beurre et d'eau de fleur d'oranger. La Tamina est souvent servie chaude et est généralement présentée dans un grand plat décoratif. Elle est un élément essentiel de la gastronomie algérienne et est appréciée pour sa douceur et son goût unique. <br>
La deuxième image s'agit d'un objet appelé "nir". Cet objet est utilisé par les mozabites (si tu te demandes qui ils sont j'en ai parlé dans la page des <a href="/traditionamazigh/"> traditions amazigh </a>) de la commune de Beni Isguen dans la wilaya de Ghardaïa. En fait, c'est un objet utilisé pour que les enfants puissent aimer la fête du mawlid. Son utilisation est plutôt simple. On rempli le milieu de l'objet avec de l'huile d'olive et on allume des meches à chaque extrémitées. Ensuite, ils ramènent ce récipient devant les mosquées pour que l'huile soit collectées.
</p>
<h2 id="nomfete">Yennayer (12 Janvier)</h2>
<hr>
<p id="description"> Yennayer est le premier jour du calendrier berbère, qui est traditionnellement célébré le 12 janvier. C'est une fête importante en Algérie, qui est marquée par des célébrations et des traditions culturelles qui reflètent l'histoire et la fierté du peuple berbère. <br>
Les célébrations de Yennayer varient selon les régions d'Algérie, mais la plupart des célébrations comprennent des repas traditionnels, des danses, des chants et des cérémonies religieuses. Les familles se réunissent pour partager des plats traditionnels, comme le couscous aux sept légumes, le tadjine de poulet aux olives ou le mrouzia (viande d'agneau mijotée avec des épices, des fruits secs et du miel). Les femmes portent souvent des vêtements traditionnels et les hommes jouent de la musique berbère.   </p>
<div class="fetedz">
    <img src="img/yennayer1.jpg" alt="" class="yennayer1">
    <img src="img/yennayer2.jpg" alt="" class="yennayer2">
</div>
<p id="description">En outre, des événements sont organisés pour célébrer Yennayer dans les villes et les villages, notamment des expositions d'art berbère, des spectacles de musique et de danse, ainsi que des conférences sur la culture berbère et son histoire. <br>
La célébration de Yennayer est importante pour la communauté berbère en Algérie car elle rappelle les traditions et la culture de leur ancêtre. Elle est aussi devenue un symbole de l'unité et de la résistance culturelle pour les Berbères, qui ont longtemps lutté pour la reconnaissance et la préservation de leur langue, leur culture et leur histoire.</p>
{% endblock %}
