{% extends 'base.html.twig' %}

{% block title %}Hello FetejpController!{% endblock %}

{% block body %}
<h1>Les fêtes au Japon</h1>
<hr>
<p id="description">Les matsuri sont des festivals traditionnels japonais qui ont une grande importance culturelle et sociale dans la vie des communautés locales. Ces festivals ont lieu tout au long de l'année dans tout le Japon, et offrent une occasion de célébrer les traditions, les rites religieux, les coutumes et les événements historiques de chaque région. <br>
Les matsuri ont une grande importance sociale au Japon, car ils offrent aux communautés locales l'occasion de se rassembler, de renforcer les liens sociaux et de transmettre des traditions et des valeurs culturelles de génération en génération.</p>
<h2 id="nomfete">Hina Matsuri (雛祭り) : 3 Mars</h2>
<hr>
<p id="description">Le Hina Matsuri, également connu sous le nom de Festival des Poupées, est un festival traditionnel japonais qui a lieu chaque année le 3 mars. Il est célébré pour honorer les jeunes filles et leur souhaiter santé et bonheur.
Pendant le Hina Matsuri, les maisons et les lieux publics sont décorés avec des poupées de cérémonie, appelées hina ningyo, qui représentent l'empereur, l'impératrice, les membres de leur cour et les musiciens. Les poupées sont disposées sur une plate-forme en plusieurs niveaux recouverte de tapis rouge, appelée hina dan ou hina butai. <br>
Les familles avec des filles exposent les poupées de cérémonie dans leur maison et offrent des aliments traditionnels tels que des mochi (gâteaux de riz), des chirashi zushi (un type de sushi) et des sakura mochi (gâteaux de riz colorés à la feuille de cerisier).</p>
<div class="fetejp">
    <img src="img/hinamatsuri.jpg" alt="" class="hinamatsuri">
    <img src="img/hinamatsuri1.jpg" alt="" class="hinamatsuri1">
</div>
<p id="description">Le Hina Matsuri est également célébré dans les lieux publics, tels que les sanctuaires et les temples, où des événements spéciaux sont organisés pour les visiteurs, tels que des expositions de poupées traditionnelles, des danses et des concerts de musique traditionnelle. <br>
Le Hina Matsuri est un festival important dans la culture japonaise car il est considéré comme une occasion de bénédiction pour les jeunes filles, et une célébration de l'arrivée du printemps. Ce festival permet également de transmettre les traditions et la culture japonaise aux générations futures, et de renforcer les liens familiaux et communautaires.</p>
<h2 id="nomfete">Obon (お盆) : 13-16 Juillet ou Août selon les régions</h2>
<hr>
<p id="description">Obon est un festival traditionnel japonais qui a lieu chaque année en été. Le festival commémore les ancêtres décédés et est considéré comme une occasion importante pour les familles japonaises de se réunir et de renforcer les liens familiaux. <br>
Pendant le festival d'Obon, des lanternes sont allumées dans les rues et dans les cimetières pour guider les esprits des ancêtres de retour chez eux. Les familles préparent également des autels spéciaux à la maison pour honorer les esprits de leurs ancêtres. <br>
Les danses d'Obon, appelées bon odori, sont un élément important de la célébration. Les gens se rassemblent dans les rues et dans les temples pour danser ensemble des danses traditionnelles. Les danses sont souvent accompagnées de musique en direct et les gens portent des vêtements traditionnels d'été tels que des yukata.</p>
<div class="fetejp">
    <img src="img/lanterne.jpg" alt="" class="lanterne">
    <img src="img/kanji.jpg" alt="" class="kanji">
</div>
<p id="description">Le festival d'Obon est également célébré à Kyoto, la ville historique du Japon, avec ses propres traditions et célébrations spéciales. <br>
Pendant la période d'Obon, la ville de Kyoto organise divers événements, dont certains sont très populaires. Par exemple, dans la soirée du 16 août, des milliers de lanternes sont allumées sur les collines qui entourent la ville pour former un paysage spectaculaire de lumières. <br>
Le festival d'Obon de Kyoto comprend également des danses traditionnelles, appelées "Gozan no Okuribi", qui ont lieu dans la soirée du 16 août. Les danseurs portent des yukatas et des éventails et dansent sur des rythmes de taiko, tandis que les feux de cérémonie sont allumés sur les montagnes environnantes. <br>
Dans les temples de Kyoto, les familles apportent des offrandes pour honorer leurs ancêtres décédés et allument des bâtons d'encens pour les guider chez eux. Les temples organisent également des danses de bon odori pour les visiteurs, ainsi que des stands de nourriture traditionnelle japonaise.</p>
<h2 id="nomfete">Taiiku no Hi (体育の日) : 2ème lundi d'Octobre</h2>
<hr>
<p id="description">Taiiku no hi, également connu sous le nom de Journée du sport, est un jour férié national au Japon célébré chaque année le deuxième lundi d'octobre. Le jour est consacré à promouvoir l'activité physique, l'exercice et les sports pour tous les Japonais. <br>
Le Taiiku no hi a été instauré en 1966 en l'honneur de la journée d'ouverture des Jeux olympiques de Tokyo qui ont eu lieu cette année-là. Depuis lors, le jour est devenu une journée nationale pour encourager la participation à des activités sportives et pour sensibiliser les gens aux bienfaits de l'exercice pour la santé physique et mentale. <br>
Pendant la Journée du sport, de nombreuses écoles et communautés organisent des événements sportifs tels que des tournois de football, des compétitions d'athlétisme, des randonnées, des courses à pied, des arts martiaux et des jeux pour enfants. Les entreprises et les organismes gouvernementaux organisent également des événements pour promouvoir l'exercice et le bien-être des employés. <br>
En dehors des événements officiels, de nombreux Japonais profitent également de cette journée pour faire du sport et des activités de plein air avec leurs amis et leur famille. Les parcs, les sentiers de randonnée et les plages sont souvent remplis de personnes qui pratiquent des sports ou qui font de l'exercice en cette journée.</p>
<div class="fetejp">
    <img src="img/taiiku.jpg" alt="" class="taiiku">
    <img src="img/course.jpg" alt="" class="course">
</div>
<p id="description">Le Taiiku no hi est une journée très importante dans les écoles japonaises. Le but de ces événements est de promouvoir l'exercice physique, le travail d'équipe, l'esprit de compétition et la camaraderie parmi les élèves. De nombreux élèves s'entraînent pendant des semaines ou même des mois avant la journée du sport, en préparation pour les événements auxquels ils participent. <br>
Pendant la journée du sport, les élèves portent souvent des uniformes spéciaux pour les événements et sont encouragés par leurs enseignants, leurs camarades de classe et leurs parents. Les parents assistent souvent aux événements sportifs de leurs enfants, ce qui renforce les liens entre les familles et les écoles. <br>
La journée du sport est également un jour de congé pour les élèves, qui peuvent profiter des événements sportifs et des activités de plein air avec leurs amis et leur famille. C'est une journée très attendue pour de nombreux élèves japonais, qui travaillent dur pour s'entraîner et réussir dans les événements sportifs.</p>

<p id="description"> Comme tu as pu le constater, les fêtes au Japon sont très intéressantes et ont toutes une histoire récentes pour certaines et plus anciennes pour d'autres. Je te souhaite de pouvoir assister à l'une d'entre elles. </p>
{% endblock %}
