{% extends 'base.html.twig' %}

{% block title %}Hello FetejpController!{% endblock %}

{% block body %}
<h1>Les fêtes au Japon</h1>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rem voluptates facere deleniti? Saepe, facere. Minus sed incidunt officiis, totam fugiat, consequatur inventore cupiditate ipsam neque in, labore impedit nobis.
Inventore minus eius officia ipsum, iusto quis soluta odio facere eaque quo velit incidunt animi. Saepe doloribus ex vel! Rem, impedit voluptates reprehenderit quae accusamus officiis maiores asperiores accusantium tempora!
Illo, hic possimus. Minima eos fuga deserunt, culpa necessitatibus impedit ad, illum reiciendis debitis sed adipisci dolores. Animi ad laboriosam repudiandae deserunt nihil. Mollitia iste deleniti ducimus, sint non similique?</p>
<h2 id="nomfete">Hina Matsuri (雛祭り) : 3 Mars</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, impedit, eveniet quos voluptatum debitis alias deleniti laborum repudiandae officia delectus est consectetur totam animi ratione dolorum sed sapiente sunt quidem?
Quidem itaque est ullam molestias explicabo in amet numquam, possimus assumenda. Vel, ipsam veniam mollitia fugiat at doloremque in, debitis, molestiae nostrum quod aut ullam? Unde perferendis ab molestias alias.
Natus reiciendis libero pariatur sit neque id ad tenetur quisquam, recusandae magni repellendus perferendis totam a impedit. Optio officiis deleniti fuga quidem, eius et aspernatur vitae deserunt eum, illum cumque.</p>
<div class="fetejp">
    <img src="img/hinamatsuri.jpg" alt="" class="hinamatsuri">
    <img src="img/hinamatsuri1.jpg" alt="" class="hinamatsuri1">
</div>
<p id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat porro nam harum est ipsa earum non ducimus inventore officia in repellendus, commodi autem omnis consequatur enim maiores, quos amet voluptatum!
Quos accusamus sed ex. Sit quo praesentium sint nesciunt illum unde repellat et commodi error exercitationem architecto deleniti necessitatibus atque quas veritatis, sequi recusandae in mollitia? Quos quae ea animi.
Magnam officiis odio incidunt eaque quam veritatis modi nostrum placeat dolorem doloribus. Quod ut eius accusantium, quibusdam, similique a exercitationem quas velit nisi excepturi amet fuga, ad earum aliquam. Magni.</p>
<h2 id="nomfete">Obon (お盆) : 13-16 Juillet ou Août selon les régions</h2>
<hr>
<p id="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime autem voluptate eveniet architecto dolor ducimus, amet, earum, placeat fuga dolore doloribus dolores assumenda sapiente? Veritatis cupiditate iste harum fuga a!
Vel sunt iure possimus magni impedit ducimus quod explicabo fuga ipsa corrupti dolorum quaerat illo est dolores ex itaque adipisci odit animi, non quis qui, tenetur quidem, consequuntur sint. Molestiae.
Voluptates impedit asperiores laudantium quisquam eius sit ea, ratione tempore dolore quos earum maxime culpa, dignissimos adipisci? Error, ipsum voluptate? Cumque ex qui totam vitae, quae quisquam autem debitis hic!</p>
<div class="fetejp">
    <img src="img/lanterne.jpg" alt="" class="lanterne">
    <img src="img/kanji.jpg" alt="" class="kanji">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic rerum minus harum consectetur architecto perferendis facilis, officiis voluptatibus esse, est, possimus eveniet consequatur doloribus repellat ut ex earum quis?
Modi quo ratione dolores, nihil dignissimos iste aut odio quibusdam. Atque molestiae ea dolore ducimus, nulla et officiis aliquid laboriosam maxime, nisi iste, odio tenetur tempora sapiente nobis cum iusto.
Architecto corporis adipisci nostrum quas sequi nisi rerum porro exercitationem dolorum qui eaque, sint eos cum maxime asperiores minus similique delectus nam ea veniam quae voluptatibus totam! Inventore, odio sint!</p>
<h2 id="nomfete">Taiiku no Hi (体育の日) : 2ème lundi d'Octobre</h2>
<hr>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt modi maxime est reiciendis, beatae non nisi, inventore in libero assumenda maiores. Sint numquam laudantium cum, ullam non amet esse.
Explicabo, aspernatur! Corporis ipsam fugiat facere harum, atque ipsum ratione alias consequuntur asperiores non vitae, obcaecati odio voluptatum quos placeat laborum blanditiis amet incidunt natus officia aliquid cupiditate. Molestiae, officiis.
Ea nihil molestias ipsum, suscipit ut libero numquam facere minus aperiam officiis at quae! Minus dicta quo iusto saepe. Aut voluptatem explicabo ratione consequatur soluta? Natus, officia. Repellat, eligendi magni.</p>
<div class="fetejp">
    <img src="img/taiiku.jpg" alt="" class="taiiku">
    <img src="img/course.jpg" alt="" class="course">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, alias ipsa consectetur voluptatibus amet pariatur sit ducimus deleniti a molestiae quidem enim magni doloremque veniam quo! Aspernatur ab veniam corporis?
Eligendi, ullam neque ducimus eveniet fugit nesciunt incidunt! Aut totam neque suscipit ipsa, praesentium nam optio aliquid quae earum, quibusdam sequi repudiandae pariatur reiciendis, nesciunt harum cupiditate sed! Placeat, aliquid.
Nisi nostrum obcaecati quia nobis, sequi fugit! Officia itaque recusandae error alias, quidem hic accusantium ratione molestias deleniti eum architecto modi minus dolor vero, laboriosam qui? Unde saepe et odio!</p>
{% endblock %}
