{% extends 'base.html.twig' %}

{% block title %}Hello OmotenashiController!{% endblock %}

{% block body %}
<h1>L'Omotenashi (お持て成し)</h1>
<hr>
<p id="description">
    Lors de ton voyage au Japon tu remarqueras une chose très importante chez les japonais : c'est leur hospitalité. C'est ce qu'on appelle l'omotenashi. l s'agit d'une approche culturelle unique qui se concentre sur l'accueil chaleureux, l'attention aux détails et la recherche de l'excellence dans tout ce que l'on fait.


</p>
<div class="welcome">
    <img src="img/welcome_mario.jpg" alt="" class="mario">
    <img src="img/welcometojapan.jpg" alt="" class="bienvenue">
</div>
<p id="description">L'omotenashi est profondément ancré dans la culture japonaise et est considéré comme une forme d'art de recevoir les invités. Il implique une grande attention portée aux besoins des clients, ainsi qu'un souci du détail et une considération pour leur confort. <br>
Les exemples courants d'omotenashi incluent le service exceptionnel dans les restaurants, les hôtels et les ryokan (auberges traditionnelles japonaises), ainsi que les pratiques de l'emballage de cadeaux, qui visent à offrir une expérience esthétique agréable aux clients. <br>
Les entreprises japonaises sont souvent reconnues pour leur pratique de l'omotenashi, qui est considérée comme un avantage concurrentiel et un moyen de se différencier des autres entreprises. L'omotenashi est également considéré comme une manifestation de la culture japonaise en général, qui valorise l'harmonie, la simplicité et la beauté.

</p>
<div class="omo">
<img src="img/dogeza.jpg" alt="" class="dogeza">
</div>
<p id="description">En conclusion, l'omotenashi a un impact considérable sur la culture et l'économie japonaises, ainsi que sur l'expérience des visiteurs du Japon. Cette pratique culturelle unique met l'accent sur l'hospitalité, l'attention aux détails et la recherche de l'excellence, et est considérée comme une forme d'art de recevoir les invités. La première chose que les gens retiennent lorsqu'ils reviennent du Japon est l'omotenashi (tu nous en parleras si tu y va 😉). </p>
{% endblock %}
