{% extends 'base.html.twig' %}

{% block title %}Hello OmotenashiController!{% endblock %}

{% block body %}
<h1>L'Omotenashi (お持て成し)</h1>
<hr>
<p id="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim illum adipisci tenetur repudiandae sint assumenda sequi maiores suscipit natus id. Quos molestias commodi, sit nostrum tempora eveniet. Beatae, repudiandae voluptas.
    Non, dicta culpa ducimus iste tenetur soluta numquam in repellat eum cumque eligendi sequi libero ullam. At numquam obcaecati reprehenderit. Similique, ex. Dolorem nostrum fuga voluptas illum neque aliquam delectus.
    Sunt inventore eveniet, adipisci rem perspiciatis a voluptas incidunt cum, veritatis facere laborum dolor aut quaerat culpa repudiandae tempore modi voluptatibus. Voluptates voluptas qui iure atque provident perferendis consectetur aperiam.
</p>
<div class="welcome">
    <img src="img/welcome_mario.jpg" alt="" class="mario">
    <img src="img/welcometojapan.jpg" alt="" class="bienvenue">
</div>
<p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, accusamus provident? Illo ad, ipsum sint vel doloribus non consectetur, hic vero odit blanditiis et, impedit ab eius reiciendis quidem excepturi.
Quia omnis odit tenetur expedita, quas provident sequi rem repudiandae maiores cum minima excepturi tempora sapiente dolore blanditiis odio error quos ipsa. Distinctio cupiditate debitis reiciendis voluptatum itaque corporis id.
Molestias modi similique odio at dolore! A provident molestiae sapiente eius dolor aliquid id laudantium, voluptatibus hic aperiam facere nobis magnam aut ducimus. Fugit pariatur laudantium nostrum at voluptas eveniet?</p>
<div class="omo">
<img src="img/dogeza.jpg" alt="" class="dogeza">
</div>
<p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora tempore eligendi delectus fugit distinctio natus animi aperiam, nihil eum illo magni nesciunt quos saepe ratione id odit aliquam deleniti numquam.
Nihil deleniti animi quasi ullam, corporis accusantium aliquid qui ducimus fuga maiores. Nulla officia sapiente dolores voluptatem, dolore dolorum autem iste voluptatum repudiandae dignissimos molestiae, explicabo officiis exercitationem, iure nisi.
Odit recusandae similique doloribus rem ipsam blanditiis, fuga totam vero hic quae amet deleniti adipisci consequatur tempore sapiente, repellat nemo quam dolore ullam perspiciatis provident. Ut vitae impedit quia temporibus.</p>
{% endblock %}
