{% extends 'base.html.twig' %}

{% block title %}Hello MentionslegalesController!{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<hr>
<p class="mentions_legales">
Éditeur du site : <br>
Nom : TIRICHINE Omar <br>
Adresse : xxxxxx Rue du xxxxxxx <br>
Email : otirichine@gmail.com 
<br><br>
Directeur de la publication : <br>
Nom : [Nom du directeur de la publication] <br>
Adresse : [Adresse du directeur de la publication] <br>
Email : [Adresse email du directeur de la publication] 
<br><br>
Hébergement : <br>
Nom : [Nom de l'hébergeur] <br>
Adresse : [Adresse de l'hébergeur] <br>
Email : [Adresse email de l'hébergeur]
<br><br>
Propriété intellectuelle : <br>
Tous les contenus du blog (articles, photos, vidéos, etc.) sont protégés par les lois sur la propriété intellectuelle. Toute reproduction, représentation, adaptation, ou exploitation de quelque nature que ce soit est strictement interdite sans autorisation préalable de l'éditeur.
<br><br>
Responsabilité : <br>
L'éditeur du site ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation du blog, des informations qui y sont présentes, ou de l'impossibilité d'y accéder. L'éditeur se réserve le droit de modifier, suspendre ou interrompre l'accès au site à tout moment.
<br><br>
Données personnelles : <br>
Le site collecte des données personnelles des utilisateurs (nom, prénom, adresse email, etc.) dans le cadre de l'inscription à la newsletter. Ces données sont utilisées uniquement dans le cadre du fonctionnement du blog et ne sont pas transmises à des tiers. Les utilisateurs ont le droit d'accéder, de modifier ou de supprimer leurs données personnelles en contactant l'éditeur du site.
<br><br>
Droit applicable et juridiction compétente : <br>
Les présentes mentions légales sont régies par le droit français. Tout litige relatif à l'utilisation du blog sera soumis à la compétence exclusive des tribunaux français.
</p>
{% endblock %}
